@font-face {
    font-family: 'HYQiHei-105JF';
    src: url('./font/HYQiHei-105JF.woff') format('woff');
}

@font-face {
    font-family: 'HYQiHei-75W';
    src: url('./font/HYQiHei-75W.woff') format('woff');
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    /* Changed from relative to absolute */
    bottom: 0;
    /* Position at the bottom */
    z-index: 2;
}

.draggable {
    width: 50px;
    height: 50px;
    transform: scale(4);
    cursor: grab;
    user-drag: none;
    z-index: 1;
    margin-right: 10px;
    position: absolute;
    bottom: 0px;
    left: 100px;
    z-index: 3;
}

.text-box {
    width: 900px;
    height: 50px;
    background-color: #fdfcfd;
    /* 柔和的粉红色背景 */
    border: 2px solid #807e7f;
    /* 边框颜色 */
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
    border-radius: 20px;
    /* 圆角边框 */
    box-shadow: inset 0 0 10px #d8d7d8;
    /* 内阴影 */
    outline: none;
    /* 移除焦点时的默认外轮廓线 */
    transition: all 0.3s ease-in-out;
    font-family: 'HYQiHei-75W', 'Arial', sans-serif;
    color: #555;
}

.text-box:focus {
    box-shadow: inset 0 0 10px #ea80fc, 0 0 10px #ea80fc;
    /* 焦点时增加的外阴影 */
    border-color: #c4c3c5;
    /* 焦点时边框颜色变化 */
}


.blue-box {
    width: 80px;
    height: 80px;
    background-color: rgb(210, 210, 212);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.face-box {
    padding: 50px;
    width: 80%;
    position: fixed;
    cursor: grab;
    /* 使用固定定位来控制位置 */
    top: 50%;
    /* 将 .blue-box 顶部与页面中心对齐 */
    left: 50%;
    /* 将 .blue-box 左侧与页面中心对齐 */
    transform: translate(-50%, -50%);
    /* 使用 transform 属性将 .blue-box 居中 */
    z-index: 1;
}

.video-box {
    padding: 50px;
    cursor: grab;
    width: 100%;
    height: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.video-all {
    padding: 10px;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}

/* .myVideo2 {
    padding: 50px;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
} */

.cute-text-output {
    position: fixed;
    /* 固定定位，始终在视口的相同位置 */
    font-size: 30px;
    top: 100px;
    /* 顶部偏移 */
    right: 100px;
    /* 右侧偏移 */
    font-family: 'HYQiHei-75W', cursive, sans-serif;
    /* 使用可爱的字体 */
    color: #D4145A;
    /* 亮粉色文字 */
    background-color: #fbf9fa;
    /* 淡粉红色背景 */
    padding: 30px;
    /* 内部间距 */
    border: 2px solid #5b5b5b;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(158, 157, 157, 0.3);
    z-index: 100;
    max-width: 300px;
    max-height: 800px;
    word-wrap: break-word;
    overflow-y: auto;
    border: none;
}

#scroll-container {
    position: fixed;
    bottom: 0;
    left: 300px;
    right: 330px;
    top: 0;
    overflow: hidden;
    pointer-events: none;
    z-index: 99;
    /* Makes sure the container doesn't block click events */
}

#scroll-content {
    position: absolute;
    width: 100%;
    left: 50%;
    text-align: center;
    font-size: 48px;
    transform: translateX(-50%);
    /* Center the content horizontally */
    bottom: -200%;
    /* Start scrolling from the bottom */
    /* Adjust 'animation-duration' to control the speed of the scrolling */
    animation: scroll-up 10s linear forwards;
    animation-play-state: paused;
    font-family: 'HYQiHei-105JF', sans-serif;
    font-size: 52px;
    color: #FFFFFF;
    -webkit-text-stroke: 3px #000000;
    text-stroke: 3px #000000;
}

@keyframes scroll-up {
    0% {
        bottom: -250%;
        /* Initially off-screen at the bottom */
        opacity: 1;
        /* Fully visible at the start */
    }

    90% {
        opacity: 1;
        /* Maintain full opacity until 90% of the animation */
    }

    100% {
        bottom: 100%;
        /* End off-screen at the top */
        opacity: 0;
        /* Fully fade out as it reaches the top */
    }
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.show-png {
    top: 0px;
    left: 0px;
    z-index: 5;
    height: 100%;
    width: 100%;
}

.face {
    top: auto;
    left: auto;
    z-index: 1;
}

.bottom-png {
    /* position: absolute; */
    bottom: 0px;
    left: 0px;
    z-index: 0;
    height: 100px;
    width: 1000px;
    /* height: 100%; */
    /* width: 100%; */
    position: fixed;
}